.form-field.primary {
	--active-color: theme('colors.primary.DEFAULT');
}

.form-field.accent {
	--active-color: theme('colors.accent.DEFAULT');
}

.form-field {
	--active-color: theme('colors.accent.DEFAULT');
	--inactive-color: theme('colors.text');

	input,
	select,
	textarea {
		background-color: transparent;
		color: theme('colors.text');
		border: none;
		outline: none;
	}
}
