---
import Layout from "../layouts/Layout.astro";
import VArticlePreview from "@/components/VArticlePreview.astro";
import { getArticlePreviews } from "@/lib/articles";

const articles = await getArticlePreviews();
---

<Layout title="Static post">
  <main class="w-full md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mx-auto pt-6">
    <ul class="grid gap-2 grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
      {
        articles.map((article) => (
          <li>
            <VArticlePreview article={article} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
