---
import Layout from "../layouts/Layout.astro";

import MainArticlePreview from "@/components/MainArticlePreview.astro";
import VArticlePreview from "@/components/VArticlePreview.astro";

import Carousel from "@/components/Carousel.tsx";

import ViewMore from "@/components/ViewMore.astro";

import { Icon } from "astro-icon/components";
import { getArticlePreviews } from "@/lib/articles";

export const LATEST_PAGE_SIZE = 3;
export const LATEST_PAGES = 3;

const latests = (await getArticlePreviews()).slice(0, 10);

const bellowBlogs = latests.slice(1);

const isExact = bellowBlogs.length % LATEST_PAGE_SIZE === 0;
const pages =
	Math.floor((bellowBlogs.length - 1) / LATEST_PAGE_SIZE) +
	1 +
	(isExact ? 1 : 0);

function chunks<T>(array: T[], size: number): T[][] {
	const nChunks = Math.floor((array.length - 1) / size) + 1;
	const chunks: T[][] = [];

	for (let i = 0; i < nChunks; i++) {
		chunks.push(array.slice(i * size, i * size + size));
	}

	return chunks;
}
---

<Layout
  title="Ocxide | Blog"
  description="Ocxide's Blog, programming articles and stuff"
>
  <main class="w-full md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mx-auto pt-6">
    <h2>Ocxide's Blog</h2>

    <hr class="mb-4" />

    <section>
      <h3>Latests</h3>

      {latests.at(0) && <MainArticlePreview article={latests.at(0)!} />}

      <hr class="my-3" />

      <Carousel client:load pages={pages} class="carousel-collapse">
        <Icon name="mdi:navigate-before" slot="leftIcon" />
        <Icon name="mdi:navigate-next" slot="rightIcon" />

        {
          chunks(bellowBlogs, LATEST_PAGE_SIZE).map((chunk, i) => (
            <ul class="chunk grid sm:grid-cols-3 mx-16 sm:mx-0 gap-2">
              {chunk.map((post) => (
                <li class="min-w-0">
                  <VArticlePreview article={post} />
                </li>
              ))}

              {!(!isExact && i === pages - 1) ? null : (
                <li class="grid">
                  <ViewMore />
                </li>
              )}
            </ul>
          ))
        }

        {!isExact ? null : <ViewMore />}
      </Carousel>
    </section>
  </main>

  <noscript>
    <style>
      .carousel-collapse {
        display: unset;
      }
    </style>
  </noscript>
</Layout>
