---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;

function checkIsExternal(href: string) {
	const PROTOCOL_SEPARATOR = "://";

	const i = href.search(PROTOCOL_SEPARATOR);
	if (i === -1) return false;
	return i > 0 && i + PROTOCOL_SEPARATOR.length < href.length;
}

const isExternal =
	typeof Astro.props.href === "string"
		? checkIsExternal(Astro.props.href)
		: false;
---

{
  isExternal && (
    <a {...Astro.props} target="_blank" rel="noopener noreferrer">
      <slot />
    </a>
  )
}

{
  !isExternal && (
    <a {...Astro.props}>
      <slot />
    </a>
  )
}
